body{ 
    width: 1500px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(pink,rgb(147, 147, 240));
}


#main-container {
    width: 394px;
    height: 390px;
    border: 1px solid black;
    margin-bottom: 8px;
    display: flex;
    background-image: linear-gradient(skyblue,pink);
    border-radius: 7px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-style: italic;
    font-size: 25px;
    color: black;
    
}    